// Bolt

.c-bolt {
  animation: scale 200ms ease-in forwards;
  transform-origin: 100% 0;
  fill: $color-medium-blue;
  display: block;
  height: 50vh;
  margin: 0 auto;

  @include bp-large {
    position: absolute;
    right: 20%;
    top: 0;
    z-index: -1;

    display: block;
    height: 60vh;
    right: 5%;
  }

  @include bp-full {
    height: 80vh;
    right: 20%;
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
