// Share Buttons

.c-share-buttons {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 4rem 0 2rem;

  @include bp-medium {
    align-content: flex-start;
    flex-direction: row;
    margin: 4rem 1rem 4rem 0;
  }
}

.c-share-buttons__button {
  background: $color-medium-blue;
  border-radius: 100%;
  color: $color-white;
  display: block;
  font-weight: bold;
  height: 6rem;
  line-height: 6rem;
  margin-bottom: 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: 6rem;

  @include bp-medium {
    margin-bottom: 0;
  }

  &:hover {
    transform: scale(1.1);

    @include bp-medium {
      transform: scale(1.2);
    }
  }
}

.c-share-buttons__icon {
  fill: $color-white;
  height: 35%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 35%;
}

.c-share-buttons__counter {
  background: $color-medium-green;
  border-radius: 100%;
  color: $color-white;
  display: none;
  font-size: 1.125rem;
  font-weight: bold;
  height: 3rem;
  line-height: 3rem;
  position: absolute;
  right: -1.25rem;
  text-align: center;
  text-decoration: none;
  top: -1.25rem;
  width: 3rem;
  z-index: 1;

  &.is-visible {
    display: block;
    animation: a-scale-up 0.2s ease-out;
  }
}

@keyframes a-scale-up {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
