// Bolt

.c-bolt {
  fill: $color-medium-blue;
  display: block;
  height: 50vh;
  margin: 0 auto;

  @include bp-large {
    position: absolute;
    right: 20%;
    top: 0;
    z-index: -1;

    display: block;
    height: 60vh;
    right: 5%;
  }

  @include bp-full {
    height: 80vh;
    right: 20%;
  }
}
