
// Colors
//------------------------------------------------------------------------------

$color-brand: #961e32;
$color-white: #ffffff;
$color-gray-light: #cccccc;
$color-black: #4a5052;

// Text
$color-text: $color-black;

// Links
$color-link: #0980b2;

// Borders
$color-border: $color-gray-light;
